src/schemas/CrossIndustryInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rsm="urn:un:unece:uncefact:data:standard:CrossIndustryInvoice:100"
           xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
           xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100"
           targetNamespace="urn:un:unece:uncefact:data:standard:CrossIndustryInvoice:100"
           elementFormDefault="qualified">

    <xs:element name="CrossIndustryInvoice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ExchangedDocumentContext" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GuidelineSpecifiedDocumentContextParameter" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ID" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ExchangedDocument" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:string"/>
                            <xs:element name="TypeCode" type="xs:string"/>
                            <xs:element name="IssueDateTime" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="DateTimeString" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SupplyChainTradeTransaction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IncludedSupplyChainTradeLineItem" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AssociatedDocumentLineDocument" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="LineID" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SpecifiedTradeProduct" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Name" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SpecifiedLineTradeAgreement" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="GrossPriceProductTradePrice" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ChargeAmount" type="xs:decimal"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SpecifiedLineTradeDelivery" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="BilledQuantity" type="xs:decimal"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SpecifiedLineTradeSettlement" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ApplicableTradeTax" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CategoryCode" type="xs:string"/>
                                                                <xs:element name="RateApplicablePercent" type="xs:decimal"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="SpecifiedTradeSettlementMonetarySummation" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="LineTotalAmount" type="xs:decimal"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicableHeaderTradeAgreement" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ID" type="xs:string"/>
                                        <xs:element name="SellerTradeParty" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Name" type="xs:string"/>
                                                    <xs:element name="SpecifiedTaxRegistration" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ID" type="xs:string"/>
                                                                <xs:element name="TaxTypeCode" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BuyerTradeParty" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Name" type="xs:string"/>
                                                    <xs:element name="SpecifiedTaxRegistration" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ID" type="xs:string"/>
                                                                <xs:element name="TaxTypeCode" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicableHeaderTradeSettlement" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="InvoiceCurrencyCode" type="xs:string"/>
                                        <xs:element name="SpecifiedTradeSettlementHeaderMonetarySummation" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="LineTotalAmount" type="xs:decimal"/>
                                                    <xs:element name="GrandTotalAmount" type="xs:decimal"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
